<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notas otra vez</title>
  </head>
  <body>
    <!--importamos formulario y lista de tareas-->
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          {{> tasks/taskForm}}
        </div>
        <div class="col-md-7">
          {{> tasks/taskTable}}
        </div>
      </div>
    </div>
  </body>
</html>